input {
	file {
		path => "/Users/mohammedshinoy/BitBucket/qnrf-research-visualization/elk/qnrf_funding_data.csv"
		start_position => "beginning"
		sincedb_path => "dev/null"
	}
}

filter {
	csv {
		separator => ","
		columns => ["Proposal Number:", "Program Cycle:", "Submitting Institution Name:", "Project Status:", "Start Date:", "Lead Investigator:", "Project Duration:", "End Date:", "SubmissionType:", "Proposal Title:", "Research Area Keywords:", "Research Type:", "Personnel", "Institution","URL"]
	}
}

output{
	elasticsearch {
		hosts => "localhost:9200"
		index => "qnrf"
	}
	stdout {}
}