elasticsearch==6.3.0
plotly==3.1.1
numpy==1.12.1
dash==0.26.3
Jinja2==2.10
networkx==1.11
Flask==0.12
SQLAlchemy==1.1.9
Flask_Login==0.4.1
pandas==0.19.2
dash_html_components==0.11.0
dash_auth==1.1.2
dash_core_components==0.28.0
elasticsearch_dsl==6.1.0
Scrapy==1.5.0